{% set pageTitle="Wellcome" %}
{% extends "layout.html" %}
{% block head %}
{{parent()}}

{% endblock %}
{% block content %}
<div class="container">
    <div class="row justify-content-center align-items-center" style="height:100vh">
        <div class="col-4">
            <div class="card">
                <div class="card-body">
                    <div class="text-center col-centered">
                        <h1>Wellcome <b style="color:red">{{ user }}</b></h1>
                        <br>
                        <a href="/auth" class="btn btn-primary mt-1" style="width:10rem">Auth user</a><br>
                        <a href="/user/{{id}}" class="btn btn-primary mt-1" style="width:10rem">View user
                            info</a><br>
                        <a href="/user/edit/{{id}}" class="btn btn-primary mt-1" style="width:10rem">Edit
                            user</a><br>
                        <a href="/user" class="btn btn-primary mt-1" style="width:10rem">Show all users</a><br>
                        <a href="/page/about-us" class="btn btn-primary mt-1" style="width:10rem">About</a><br>
                        {{ btn | raw }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
